* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
    width: 100%;
    /* font-family: klein, sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
    background-color: #ffffff;
    color: #111;
}

header{
    width: 100%;
}

.top-banner {
    background: #2d2d2d;
    color: white;
    padding: 8px 0;
    text-align: center;
    font-size: 12px;
}

nav{
display: flex;
width: 100%;
padding: 1.2rem 2.5rem;
justify-content: space-between;
align-items: center;
position: relative;
}

.logo{
    text-decoration: none;
    color: #333;
}

ul{
    list-style: none;
}

.nav-links{
    display: flex;
    gap: 32px;
}

.nav-links li{
    color: #333;
    font-size: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    transition: color 0.3s;
    position: relative;
}

.nav-links a:hover {
    color: #d32f2f;
}

.nav-links a.sale {
    color: #d32f2f;
}

.nav-icons{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.nav-icons button{
    border: none;
    padding: 5px;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}